# Byte-compiled / optimized / DLL files
__pycache__/
private/
*.py[cod]
*$py.class
/examples/Neckar/.predictors_200
/examples/Ghana/.predictors_150
/examples/Ghana/.predictors_50
/examples/Ghana/correlation_data
/examples/Ghana/model_selection
/examples/Ghana/final_experiment
/examples/Ghana/predictor_selection
/examples/Ghana/final_cache_Precipitation
/examples/Ghana/final_cache_Temperature
/examples/Ghana/experiment_1
/examples/Ghana/plots
/examples/Neckar/final_cache_Precipitation
/examples/Neckar/final_cache_Temperature
/examples/Neckar/final_cache
/examples/Neckar/experiment1
/examples/Neckar/experiment2
/examples/Neckar/experiment3
/examples/Neckar/experiment4
/examples/__pycache__
/examples/Neckar/plots
/examples/Human_Vs_Machines/
/examples/IsoPP/
*.pickel
*.predictors_150
*.predictors_50
*.predictors_500
*.predictors_200
*__pycache__

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# IDE settings
.vscode/