/examples/Neckar/.predictors_200
/examples/Ghana/.predictors_500
/examples/Neckar/final_cache_Precipitation
/examples/Neckar/final_cache_Temperature
/examples/Neckar/final_cache
/examples/Neckar/experiment1
/examples/Neckar/experiment2
/examples/Neckar/experiment3
/examples/Neckar/experiment4
/examples/__pycache__
/examples/Neckar/plots
*.pickel
modules.txt
*.predictors_500
*.predictors_200

