pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
grip
pytest
pytest-cov
pytest-runner
netCDF4
matplotlib
Sphinx-rtd-theme
setuptools
pydocstyle
packaging>=21.3
h5netcdf
importlib-metadata>=4.4