#Cartopy>=0.18.0
cftime>=1.6.0
eofs>=1.4.0
geopandas==0.12.1
keras>=2.8.0
Keras-Preprocessing>=1.1.2
numpy>=1.19.5
pandas>=1.3.4
scikit-image>=0.18.3
scikit-learn>=1.1.1
scikit-learn-intelex>=2021.20210714.120553
scikit-optimize>=0.9.0
scipy>=1.7.1
seaborn>=0.11.2
setuptools>=67.6.0
tensorflow>=2.8.0
twine>=4.0.2
xarray>=2022.3.0
xgboost>=1.5.2
